<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="member">
 	<resultMap type="MemberVo" id="memberVo">
 		<result property="memberId" 		column="MEMBER_ID"/>
 		<result property="memberName" 		column="MEMBER_NAME"/>
 		<result property="memberPassword" 	column="MEMBER_PASSWORD"/>
 		<result property="memberPhone" 		column="MEMBER_PHONE"/>
 		<result property="memberGrade" 		column="MEMBER_GRADE"/>
 		<result property="memberPwdHint"	column="MEMBER_PWDHINT"/>
 		<result property="memberPwdAnswer" 	column="MEMBER_PWDANSWER"/>
 		<result property="storeNo"			column="STORE_NO"/>
 	</resultMap>
 	
 	<select id="loginMember" resultMap="memberVo">
 		SELECT 
		    MEMBER_ID
		    ,MEMBER_NAME
		    ,MEMBER_GRADE
		    ,STORE_NO
		FROM
		    MEMBER M
		LEFT OUTER JOIN 
		    STORE S
		ON
		    M.MEMBER_ID = S.STORE_MEMBER_ID
		WHERE
		    MEMBER_ID = #{memberId}
 			AND MEMBER_PASSWORD = #{memberPassword}
 	</select>
 	
 	<select id="selectMember">
 		SELECT 
 			* 
 		FROM 
 			MEMBER
 	</select>
 	
 	<delete id="deleteMember">
 		DELETE 
 		FROM
 			MEMBER
 		WHERE
 			MEMBER_ID = #{memberId}
 	</delete>
 	
 	<update id="updateMember">
 		UPDATE
 			MEMBER
 		SET
 			MEMBER_ID = #{memberId}
 			MEMBER_NAME = #{memberName}
 			MEMBER_PASSWORD = #{memberPassword}
 			MEMBER_PHONE = #{memberPhone}
 			MEMBER_GRADE = #{memberGrade}
 			MEMBER_PWD_HINT = #{memberPwdHint}
 			MEMBER_PWD_ANSWER = #{memberPwdAnswer}
 		WHERE
 			MEMBER_ID = #{memberId}
 	</update>
 	
 	<insert id="insertMember">
 		INSERT INTO
	 		MEMBER
		 		(MEMBER_ID
		 		,MEMBER_NAME
		 		,MEMBER_PASSWORD
		 		,MEMBER_PHONE
		 		,MEMBER_GRADE
		 		,MEMBER_PWD_HINT
		 		,MEMBER_PWD_ANSWER)
	 	VALUES
		 		(#{memberId}
		 		,#{memberName}
		 		,#{memberPassword}
		 		,#{memberPhone}
		 		,#{memberGrade}
		 		,#{memberPwdHint}
		 		,#{memberPwdAnswer})
 	</insert>
 	
 	<select id="selectMemberId" resultType="int">	
 		SELECT
 			COUNT(*)
 		FROM
 			MEMBER
 		WHERE
 			MEMBER_ID = #{memberId}
 	</select>
 	
 </mapper>